# General
*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
*.bak
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*

# Folders
configstore/
iterm2/
yarn/
gtk-2.0/
raycast/
zed/
flipper/
gatsby/
configstore/
github-copilot/
*.bak/


# Fish local config
fish/config-local.fish
fish/fish_variables
