# General
*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
*.bak
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components

# Folders
iterm2/*
raycast/
uv/
*.bak/


# Exceptions
!iterm2/com.googlecode.iterm2.plist
